<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <br>
  <br>
  <a href="home.do">Find Film ID</a>
  <a href="keyword.do">Find Film by Keyword</a>
  <a href="create.do">Create Film</a>
  <a href="home.do">Delete Film</a>
  <a href="home.do">Update Film</a>
  <a href="findActor.do">Find Actor by ID</a>
  <a href="createActor.do">Create Actor</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()"> M E N U</button>
</div>


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>