@charset "UTF-8";

h1 {
	color: #b53323;
	font-family: andalemono;
}


label {
	color: #b53323;
	font-family: andalemono;
}

ul {
	color: #b53323;
	font-family: andalemono;
}

li {
	color: #b53323;
	font-family: andalemono;
}
 
 body {
 background:
		url("https://cf.shopee.com.my/file/26711ade9a13e84a6c98ddb4b9ce8171");
	background-position: left;
	background: url("https://cf.shopee.com.my/file/26711ade9a13e84a6c98ddb4b9ce8171");
 }  
 
 p {
 	color: #b53323;
	font-family: andalemono;
 }



form {
	color: #b53323;
		font-family: andalemono;
	
}
input {
		color: #72fa78;
		font-family: andalemono;
}

input:hover {
		background-color: #72fa78;
		font-family: andalemono;
}





/* The sidebar menu */
.sidebar {
	
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: absolute; /* Stay in place */
	top: 0;
	left: 0;
	background: url("https://media.istockphoto.com/id/915097804/photo/black-brick-wall-background-texture-dark-masonry.jpg?s=612x612&w=0&k=20&c=6E9gSLZ261VciCcXJvig-Sn0Q-ypvqWnEN7iOgv69hk="); /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px; /* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
	padding: 8px 8px 8px 32px;
	font-family: andalemono;
	text-decoration: none;
	font-size: 20px;
	color: #b53323;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #72fa78;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
}

/* The button used to open the sidebar */
.openbtn {
	font-size: 20px;
	font-family: andalemono;
	cursor: grab;
	color: #b53323;
	padding: 10px 15px;
}

.openbtn:hover {
	background-color: #72fa78;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	
	
	}
}