@charset "UTF-8";

h1 {
	color: #b53323;
	font-family: andalemono;
}


label {
	color: #b53323;
	font-family: andalemono;
}

ul {
	color: #b53323;
	font-family: andalemono;
}

li {
	color: b53323;
	font-family: andalemono;
}

/* h5 {
	color: #797979;
	font-family: andalemno;
	font-size: 50px;
	text-align: center;
}
 */
 body {
 background:
		url("https://cf.shopee.com.my/file/26711ade9a13e84a6c98ddb4b9ce8171");
	background-position: left;
	background: url("https://cf.shopee.com.my/file/26711ade9a13e84a6c98ddb4b9ce8171");

 }  



form {
	color: #b53323;
		font-family: andalemono;
	
}

/* The sidebar menu */
.sidebar {
	height: 500%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	top: 0;
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 10px; /* Place content 60px from the top */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
	padding: 8px 8px 8px 32px;
	font-family: andalemono;
	text-decoration: none;
	font-size: 20px;
	color: #b53323;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #0b0f06;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
}

/* The button used to open the sidebar */
.openbtn {
	font-size: 20px;
	font-family: andalemono;
	cursor: pointer;
	color: #b53323;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #e07b39;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s; /* If you want a transition effect */
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}